<!DOCTYPE html>
<html lang="en">
  <head>
    ${ require('raw-loader!../../assets/meta.html') }
    <title>search</title>
    <script>
      ${ require('raw-loader!babel-loader!../../../node_modules/lib-flexible/flexible.js') }
    </script>
    <!-- <script src="https://cdn.staticfile.org/react/16.4.0/umd/react.development.js"></script>
    <script src="https://cdn.staticfile.org/react-dom/16.4.0/umd/react-dom.development.js"></script> -->
  </head>
  <body>
    以下是react内容：
    <div id="root"><!--HTML_PLACEHOLDER--></div>
    <!--INITIAL_DATA_PLACEHOLDER-->

    <!-- 引入分包编译文件 -->
    <% for(var i = 0;i < htmlWebpackPlugin.options.dlls.length;i++) {%>
      <script src="<%=htmlWebpackPlugin.options.dlls[i]%>"></script>
    <%}%>
  </body>
</html>
